<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <title>Главная Страница</title>
  </head>
  <body>
    <%- include('components/header') -%>
    <div>
      <h1>Главная страница</h1>
      <button id="btn1">123</button>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium
        maiores labore ex quidem provident, rerum exercitationem corporis odio
        ab voluptate eveniet iure dolor sit corrupti amet dignissimos possimus
        tempore qui. Beatae quia hic distinctio aliquid tenetur asperiores ea
        odit totam quam quisquam sed sint excepturi exercitationem molestias
        voluptatem nobis quaerat explicabo, neque voluptate delectus. Id
        recusandae molestiae inventore maiores exercitationem. Voluptates,
        numquam officiis soluta in iure quo et! Voluptates, consectetur
        assumenda! Aliquid eius animi quasi unde, vel eligendi perspiciatis at
        voluptate tempore aliquam maiores deserunt hic cum delectus error
        molestiae! Doloremque iure doloribus rerum autem aliquid tempora?
        Impedit quaerat eaque commodi cum quae tempore, quis aperiam ipsa
        tenetur delectus fugit sequi consequatur rem laboriosam, exercitationem
        eius architecto molestias assumenda id? Ratione porro aliquam commodi!
        Modi nam velit tempora ducimus eos quae non dignissimos, est dolor
        quaerat autem? Voluptas modi, fugiat aliquid accusantium, fugit dolores
        facere placeat ad sed beatae iste. Asperiores, possimus earum a debitis
        adipisci, veniam modi nemo quas maxime deserunt at voluptates,
        repellendus cum ipsam iusto repudiandae nobis enim ullam. Consectetur
        odio exercitationem reprehenderit consequatur beatae dolores atque.
        Ullam nesciunt quia officia eligendi distinctio, voluptatum iusto
        deserunt natus temporibus esse voluptas maiores eveniet dolore
        exercitationem fugit a iure cumque quod ratione repellendus beatae
        aspernatur! Natus vero cumque tenetur. Voluptatum nisi qui esse earum
        sequi! Exercitationem eum perspiciatis, veritatis voluptatum facilis
        quisquam aliquid vero quos ipsum saepe repudiandae nesciunt commodi
        velit rerum sequi. Ratione reiciendis cupiditate perspiciatis.
        Blanditiis, eum? Vel illo aspernatur ullam eveniet deleniti alias
        distinctio sed soluta minima, placeat quia vitae voluptas incidunt
        architecto tempora et? Nesciunt fugiat aspernatur dolore architecto
        autem ratione dolorem sunt magnam commodi! Placeat esse nam quaerat illo
        quia, enim magni veritatis similique iusto quo, culpa laboriosam. Iure
        accusamus veniam tenetur laborum explicabo exercitationem nam, odio ex
        soluta perferendis sint, totam dolorem amet! Vel voluptate dolores
        temporibus nulla, natus veniam dolor, voluptas atque inventore aut
        quaerat maiores! Officiis necessitatibus tempore ipsa dolores,
        repellendus reiciendis corrupti eius magni ea labore, dolore nobis?
        Quis, ad! Mollitia ipsam eveniet necessitatibus perferendis illum,
        blanditiis qui porro debitis fugiat nostrum obcaecati cumque sint
        possimus, asperiores corrupti ullam magni voluptatibus temporibus rerum
        cupiditate ipsa sit quo voluptates alias? Labore? Dignissimos beatae
        repellat doloremque quis id expedita facilis modi at nulla voluptatum
        eum maxime, rem similique iure, consectetur sed, quos quia facere? Autem
        culpa, cumque optio corrupti odio quam tempore? Aliquid, perspiciatis
        error! Excepturi tempora aperiam voluptatum asperiores saepe explicabo
        cupiditate nostrum! Ullam eaque doloremque quibusdam corporis reiciendis
        omnis ad necessitatibus facilis repellat modi voluptatem aliquid cumque,
        obcaecati veniam sunt. Tempore excepturi ducimus soluta vitae corrupti,
        repudiandae sit. Animi vero eos natus maxime aliquid, tempore facere,
        laboriosam porro quibusdam ad iste ipsam omnis, ducimus officiis
        repellendus nostrum nulla! Laudantium, earum. Fugit aut error ut eius
        delectus, exercitationem, quam voluptatibus nulla maiores optio
        voluptas, quia dolore. Quidem omnis fugiat quod, officia harum possimus
        fuga, amet iste, temporibus impedit quos voluptates a. Ab quod eligendi
        blanditiis eum dolorum quae libero quos quasi voluptas. Cum sunt quo
        blanditiis velit, distinctio eveniet necessitatibus, maiores quam
        tempore repellendus harum mollitia saepe officia nihil inventore nemo?
        Fugiat obcaecati iste iusto voluptatem magni laboriosam illo hic! Sequi
        natus commodi dolore. Praesentium cum similique molestiae quod maiores
        eius reiciendis, voluptates dicta dignissimos, error neque, officiis
        veritatis consectetur? Cum? Fugiat totam doloremque eveniet quia unde
        reiciendis asperiores odio error delectus iste voluptatibus minus
        tempora voluptatem veniam ducimus, laboriosam hic. Cupiditate eaque
        corporis iusto, nemo reprehenderit laborum suscipit repellat veniam.
        Numquam impedit architecto esse rem suscipit, sint cum beatae
        voluptatibus itaque, vero aperiam. Voluptatibus iste perspiciatis
        doloremque veritatis adipisci fugiat, impedit incidunt eaque tempore
        mollitia pariatur? Totam dolor quos nobis. Illum deserunt reiciendis, in
        aperiam unde soluta nemo quas harum corporis obcaecati repudiandae rerum
        voluptatum voluptas laudantium beatae! Aperiam, dolore. Ad cum id dolore
        eveniet placeat animi itaque deserunt totam? Debitis corporis illo
        voluptatibus eos libero error aperiam modi obcaecati minus unde! Illum
        deleniti nostrum quidem eligendi adipisci ratione ea quam beatae ex quae
        dicta, quia omnis debitis accusantium illo? Soluta veritatis quia
        impedit, dolorum ea itaque ducimus exercitationem, at id similique
        aspernatur ab corporis magnam nesciunt sunt modi nisi deserunt eveniet
        unde incidunt nemo ipsam sit asperiores! Veniam, eveniet. Eius placeat
        voluptatibus dolorum soluta quidem excepturi fugiat ea necessitatibus
        odio autem! Eveniet consequatur hic mollitia esse, maxime facilis iure
        totam officia tempore eius est doloribus illum quibusdam possimus vero.
        Maiores, ad? Placeat, quos expedita repellendus fugit omnis illo eaque?
        Optio rerum nobis similique exercitationem possimus commodi inventore
        aspernatur, ipsum asperiores, excepturi blanditiis iste quidem animi id
        sunt perferendis error.
      </p>
    </div>
    <script>
      document.getElementById("btn1").addEventListener("click", () => {
        console.log(123);
      });
    </script>
  </body>
</html>
